<%- include('../partials/start-container') %>
<h1>All Campgrounds</h1>
<% for(let campground of campgrounds){ %>
    <div class="card mb-2">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<%=campground.image[0]%>" class="img-fluid card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="h5"><%=campground.title%></h2>
                    <p><%=campground.description%></p>
                    <p class="text-muted"><%=campground.location%></p>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
<% } %>
<%- include('../partials/end-container') %>