<%- include('../partials/start') %>
<link rel="stylesheet" href="/css/starability-checkmark.min.css">
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img src="<%=campground.image%>" class="card-img-top img-fluid">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h2 class="h5"><%=campground.title%></h2>
                    </li>
                    <li class="list-group-item">
                        <%=campground.description%>
                    </li>
                    <li class="list-group-item">
                        $<%=campground.price%>/night
                    </li>
                    <li class="list-group-item text-muted">
                        <%=campground.location%>
                    </li>
                    <li class="list-group-item text-muted">
                        Submitted by <%=campground.author.username%>
                    </li>
                    <% if(campground.author.equals(user)){ %>
                        <li class="list-group-item">
                            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit</a>
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </li>
                    <% } %>
                </ul>
        </div>
    </div>
    <div class="col-md-6">
        <% if(user){ %>
            <form class="my-3 needs-validation" action="/campgrounds/<%=campground._id%>/reviews" method="POST" novalidate>
                <h2>Add a review</h2>
                <div>
                    <fieldset class="starability-checkmark">
                        <input id="no-rate" type="radio" class="input-no-rate" name="review[rating]" value="0" checked>
                        <input id="rate1" type="radio" name="review[rating]" value="1">
                        <label for="rate1"></label>
                        <input id="rate2" type="radio" name="review[rating]" value="2">
                        <label for="rate2"></label>
                        <input id="rate3" type="radio" name="review[rating]" value="3">
                        <label for="rate3"></label>
                        <input id="rate4" type="radio" name="review[rating]" value="4">
                        <label for="rate4"></label>
                        <input id="rate5" type="radio" name="review[rating]" value="5">
                        <label for="rate5"></label>
                    </fieldset>
                </div>
                <div>
                    <label for="body" class="form-label">Review</label>
                    <textarea name="review[body]" id="body" class="form-control" placeholder="Review" required></textarea>
                </div>
                <button class="btn btn-success mt-2">Submit</button>
            </form>
        <% } %>
        <h2>Reviews</h2>
        <% for(let review of campground.reviews){ %>
            <div class="card mb-2">
                <div class="card-body">
                    <h2 class="h5"><%=review.author.username%></h2>
                    <p class="starability-result" data-rating="<%=review.rating%>"></p>
                    <p class="mb-0"><%=review.body%></p>
                    <% if(user && review.author.equals(user)){ %>
                        <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm mt-3">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>
<%- include('../partials/end') %>